In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [24]:
raw_info = pd.read_csv('data\\dataset_arthur-the-rat\\Arthur the Rat.csv', encoding = 'Latin1')
info = raw_info.copy()
info.head()

,ID,Orig Rec ID,Name,Age,Gender,Place of Birth,Year of Birth,Residence,Education,Native Lang,...,Father,Date,Language,Lang Var,SIL,Other Info,Medium,Speed,Location,Rec Info
0,R0001,6802,"Etchells, Norma Patricia",0.0,F,Cambridge,1944,Cambridge,Cambridge High School for Girls; Edinburgh Uni...,English,...,"Roxton, Lancs.",01-Nov-65,English,NaN,eng,NaN,record,78 ips,records,NaN
1,R0002,6802,"Wolfe, Alan James",0.0,M,Edinburgh,0,Edinburgh,"Daniel Stewart's College, Edinburgh; Edinburgh...",English,...,"London, (S.E.)",14-Oct-65,English,NaN,eng,NaN,record,78 ips,records,NaN
2,R0003,6748,"MacInnes, Roderick",18.0,M,Edinburgh,1946,Edinburgh,"Broughton Secondary, Edinburgh",English,...,Oban,14-Oct-64,English,NaN,eng,NaN,record,78 ips,records,NaN
3,R0004,6748,"Revie, Ian W.",19.0,M,Brighton,1945,Dumfries,Dumfries Academy,English,...,Dumfries,14-Oct-64,English,NaN,eng,NaN,record,78 ips,records,NaN
4,R0005,6844,"Munn, Miss Elizabeth",19.0,F,"Patna, India",1947,NaN,Falkirk High School,English,...,Stirling,14-Oct-66,English,NaN,eng,NaN,record,78 ips,records,NaN

In [28]:
# Missing ages and birth years are given as zeros; change to NaN
info.replace(to_replace=0, value = np.nan, inplace=True)
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 22 columns):
ID                711 non-null object
Orig Rec ID       707 non-null object
Name              706 non-null object
Age               567 non-null float64
Gender            694 non-null object
Place of Birth    419 non-null object
Year of Birth     581 non-null float64
Residence         623 non-null object
Education         612 non-null object
Native Lang       642 non-null object
Other Lang        523 non-null object
Mother            327 non-null object
Father            326 non-null object
Date              704 non-null object
Language          711 non-null object
Lang Var          10 non-null object
SIL               711 non-null object
Other Info        39 non-null object
Medium            710 non-null object
Speed             692 non-null object
Location          710 non-null object
Rec Info          30 non-null object
dtypes: float64(2), object(20)
memory usage: 122.3+ KB

In [29]:
print('Unique birthplace listings: %d' %len(info['Place of Birth'].unique()))
print('Unique residence  listings: %d' %len(info['Residence'].unique()))

Unique birthplace listings: 261
Unique residence  listings: 436

In [34]:
info.groupby('Native Lang').count().ID

Native Lang
Amoy (Halgur)                                          1
Arabic                                                 1
Bengali                                                1
Cantonese                                              2
Chinese                                                3
Danish                                                 5
Dutch                                                 10
Englidh                                                1
English                                              506
English (Scots)                                       22
English, Hindustani, Paharia                           1
English, Hindustany, Paharia                           1
English/French                                         1
French                                                10
French (British subject)                               1
Gaelic                                                12
German                                                 5
German/English                                         2
Gujarati                                               1
Hindi                                                  1
Hungarian                                              5
Ibo                                                    1
Icelandic                                              4
Irish                                                  1
Italian                                                1
Japanese                                               3
Krio                                                   1
Macedonian                                             1
Malay, Japanese, Dutch to age 6, Spanish, English      1
Norwegian                                              2
Nzema                                                  2
Panjabi                                                1
Polish                                                 2
Punjabi                                                1
Russian                                                1
Scots                                                  4
Serbian                                                1
Serbo-Croat                                            1
Serbo-Croatian                                         1
Slovene                                                1
Spanish                                                3
Spanish, French                                        2
Swedish                                                2
Tamil                                                  1
Thai                                                   2
Tivi                                                   1
Tongan                                                 1
Urdu                                                   2
Vienese German                                         2
Vietnamese                                             1
Welsh                                                  2
Yoruba                                                 1
Name: ID, dtype: int64

In [43]:
from datetime import date, datetime, timedelta
datetime.strptime(info.Date[0], '%d-%b-%y')

datetime.datetime(2065, 11, 1, 0, 0)

In [77]:
def read_date(date_str):
    if str(date_str) == 'nan':
        return np.nan
    d = datetime.strptime(date_str, '%d-%b-%y')
    if d.year >= 2000:
        # 2-digit years before 1969 are interpreted as being 21st century
        d = datetime(d.year - 100, d.month, d.day)
    return d

def fake_birthday(birth_year):
    # When I only have the year, use July 5 as the birthday (it's the median birthday in the US from 1994 to 2014)
    if np.isnan(birth_year):
        return np.nan
    return datetime(birth_year, 7, 5)

In [78]:
read_date(info.Date[0])

datetime.datetime(1965, 11, 1, 0, 0)

In [76]:
read_date(info.Date[42])

nan